results/
r[0-9]*/
prof/
.rocprofv3/
local.mk
red_*
scan_*
result_*
*.bc
*.ii
*.ll
*.o
*.out
*.s
*.tmp
*.code-workspace
# I know this is stupid, but somtimes I just need a quick script for sth and
# don't want to pay attention to not committing it :)
t.sh